h1, h2 {
    color: darkorange;
  }
  
  p {
    color: burlywood;
  }
  ul {
    border: 2px solid black;
  }
  
  ol {
    border: 2px solid lightslategray;
  }
  
  ol, ul {
    padding: 7px 20px;
    border-radius: 4px;
  }
  h1, strong {
    color: lightsalmon;
  }
  
  em {
    color: black;
  }
      
      